@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body{
  overflow-x:  hidden;
  font-family: 'Poppins';
  /*background-color: rgb(245, 241, 241);*/
}

.fas{
  margin-right: 10px;
}

.mt-page{
  margin-top: 70px;
}

.mt-page-10{
  margin-top: 10px;
}

.mt-margembutton{
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
}

.mt-margembutton_30{
  max-width: 150px;
}

.mt-margem{
  padding: 8px 10px;
}

.mt-margem-input-ref{
  max-width: 200px;
}

.mt-margem-input{
  width: 600px;
}

.mt-margem-input-seq{
  max-width: 60px;
}

.mt-margem-input-valor{
  max-width: 120px;
}

.mt-margem-foto{
  margin-left: 30px;
  margin-right: 7px;
  max-width: 200px;
}

.coluna_grid_40 {
  width: 40px;
}

.coluna_grid_80 {
  width: 80px;
}

.coluna_grid_150 {
  width: 150px;
}

.coluna_grid_200 {
  width: 200px;
}

.icone_acao{
  margin-left: 7px;
  margin-right: 7px;
}

.icone_acao_vermelho{
  color: red;
}

.btn-acao{
  margin: 20px 20px 0px 20px;
  min-width: 200px;
 }

 .btn-adicionar{
  left: 10px; 
 }

 footer{
  position: absolute;
  bottom: 0px;
  width: 100%;  
 }

 .form-check-input {
  cursor: pointer;
 }

 .form-check-label {
  cursor: pointer;
 }